<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mynfc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <!-- cmwap/cmnet/wifi/uniwap/uninet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/ic_launcher" >
        <activity
            android:name="com.mynfc.ui.ManageMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mynfc.ui.MemberInfoActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.mynfc.ui.ProductInfoActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.mynfc.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>